.button {
    font: inherit;
    border: 1px solid #00B4D8;
    background: #00B4D8;
    color: #111;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: #48CAE4;
    border-color: #48CAE4;
}

.button:focus {
    outline: none;
}
