* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 2rem 0rem;
    background-color: #eee;
}

.app {
    margin: 0 10%;
}

.btn-blue {
    font: inherit;
    border: 1px solid #03045E;
    background: #03045E;
    color: #eee;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.btn-blue:hover,
.btn-blue:active {
    background: #16178d;
    border-color: #16178d;
}

.btn-blue:focus {
    outline: none;
}
